"Player 1: <%=@game.player1_name%>, Player 2: <%=@game.player2_name%>"<br>

"<%=@game.player2_name%>: <%=@game.player2_hit_points%>/100 HP"<br>

"<%=@game.player1_name%>: <%=@game.player1_hit_points%>/100 HP"<br>

"<%=@game.turn%>'s turn:" <a href='/attack'>Attack!!!</a>
